.align-center {
    justify-content: center;
}

.ml-11 {
    margin-left: 11px;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.mr-auto {
    margin-right: auto;
}

.mt-35 {
    margin-top: 35px;
}

.mt-48 {
    margin-top: 48px;
}