.wrap{
    max-width: 960px;
    margin: 0 auto;
}

.header{
    height: 80px;
    background-color: red;
}

.content{
    padding: 80px 0;
}

.form-login{
    max-width: 375px;
    margin: 0 auto;
}

.footer{
    height: 80px;
    background-color: blue;
}

