/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,blockquote {
    quotes: none;
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

html {
    line-height: 1;
}

*,*:before,*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* CSS Reset end */

/*pure.css*/
/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.btn {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Inherit .pure-g styles */
.btn-group {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.btn-group {
    word-spacing: -0.43em;
}

.btn-group .btn {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

/*csslint outline-none:false*/

.btn {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.btn-hover,
.btn:hover,
.btn:focus {
    /* csslint ignore:start */
    filter: alpha(opacity=90);
    /* csslint ignore:end */
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.btn:focus {
    outline: 0;
}
.btn-active,
.btn:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000;
}

.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
    border: none;
    background-image: none;
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.btn-hidden {
    display: none;
}

.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

/* Button Groups */
.btn-group .btn {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #111;  /* fallback color for rgba() for IE7/8 */
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.btn-group .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}

/*pure.css end*/

.wrap{
    max-width: 960px;
    margin: 0 auto;
}
.header{
    position: relative;
    height: 350px;
}
@media(max-width:768px){
    .header{
        height: auto;
    }
}

.logo{
    position: absolute;
    top: 30px;
    left: 0px;
}

.logo a{
    display: block;
    width: 250px;
    height: 250px;
    background:url(../img/M1.png);
}

@media(max-width:768px){
    .logo{
        position: relative;
        margin: 0 auto;
        width: 150px;
    }

    .logo a{
        display: block;
        width: 150px;
        height: 170px;
        background: url(../img/M2.png)
    }
}

.menu{
    float: right;
    margin: 30px 0 0 0;
}

.menu li{
    float: left;
    background-color: black;
    border-right:1px solid #fff;
    
}

.menu li a{
    color: #fff;
    display: block;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

@media(max-width:768px){
    .menu{

        float: none;
    }

    .menu li{
        width: 90%;
        float: none;
        margin:0 auto 10px auto;	
		border-radius:5px;

    }

    .menu li a{
        width: 100%;
        text-align: center;
    }
}

.content{
    float: left;
    width: 75%;
    border:2px solid #000;
    padding: 10px;
}

.content h2{
    font-size: 25px;
    padding: 30px 0 20px 0;
}

.content p{
    line-height: 1.8;
    padding: 0 0 30px 0;
}

.sidebar{
    float: right;
    width: 20%;
    border:2px solid #000;
	padding: 5px;
	margin-left: 5%;
	
    
}

.sidebar img{
    margin: 0 0 20px 0;
}

@media (max-width:768px){
    .content,.sidebar{
        border:none;
        float: none;
        width: 100%;
        margin: 0;
    }
    .sidebar img{
        display: block;
        max-width: 90%;
        height: auto;
        margin-bottom: 10px;
    }
}

.footer{
    clear: both;
    padding:  1em 0;
    text-align: center;
}


