.p-feature {
    position: relative;
    background-color: $bg-color-primary;

    .msg {
        width: 225px;
        height: 70px;
        text-align: center;
        margin-top: 50px;

        h2 {
            font-size: $font-m;
            color: $color-primary;
            line-height: 32px;
            font-weight: 500;
        }

        span {
            display: block;
            position: relative;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0%;
                background-color: #979797;
                width: 50%;
                height: 1px;
            }

            &:before {
                left: -50%;
            }

            &:after {
                right: -50%;
            }
        }
    }

    .img {
        display: block;
        width: 200px;
        height: 200px;
        background: url(../img/feature_1.png);
        border-radius: 100px;
        margin: 31px auto 20px auto;
    }


    .title {
        font-size: 18px;
        color: $color-primary;
        font-weight: 500;
        text-align: center;
    }

    .content {
        color: #3D1101;
        font-weight: 500;
        line-height: 20px;
        display: block;
        font-size: $font-m;
        text-align: left;
        max-width: 260px;
        margin: 11px auto auto auto;
        padding-bottom: 50px;
    }
}

.p-chef {
    position: relative;
    background-color: $bg-color-chef;

    .photo {
        height: 460px;
        background-image: url(../img/main_chef_brown.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .ex {
        padding-left: 5px;
        margin-top: 81px;

        h1 {
            font-size: $font-m;
            color: #fff;
            line-height: 32px;
        }

        h2 {
            font-size: $font-s;
            color: #fff;
        }

        p {
            font-size: $font-s;
            color: #fff;
            margin-top: 16px;
            line-height: 22px;
        }
    }
}

.p-evaluation {
    position: relative;
    background-color: $bg-color-primary;
    color: $color-primary;

    .msg {
        width: 168px;
        height: 32px;
        font-size: 24px;
        font-weight: 500;
        margin-top: 50px;
        margin-bottom: 32px;
    }

    h1 {
        position: relative;
        background: url(../img/avatar_1.png);
        width: 67px;
        height: 67px;
        border-radius: 40px;
    }

    h2 {
        position: absolute;
        left: 90px;
        top: 0px;
        font-size: 18px;
        height: 67px;
        line-height: 67px;
        font-weight: 500;
    }

    p {
        display: block;
        max-width: 220px;
        ;
        margin-left: 80px;
        font-size: 16px;
        line-height: 23px;
        font-weight: 500;
    }

    h3 {
        display: block;
        margin-top: 16px;
        font-size: 16px;
        text-align: right;
        padding-bottom: 50px;
    }
}

.p-map {
    position: relative;
    background-color: $bg-color-minor;
    color: $color-primary;

    .msg {
        margin-top: 50px;
        width: 216px;
        height: 64px;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        font-weight: 500;
    }

    .map {
        margin-top: 38px;
        height: 388px;
        background: url(../img/Map@2x.png) no-repeat center center;
        background-size: 462px 388px;
        margin-bottom: 50px;
    }

    form {
        margin-top: 38px;
    }

    .lab {
        display: block;
        margin-top: 12px;
        font-weight: 600;
        font-size: 14px;
    }

    .input {
        padding-left: 14px;
        width: 100%;
        height: 32px;
        font-size: 16px;
        color: #4A4A4A;
        margin-top: 6px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0px 1px 0px 0px #ECECEC;
        border-radius: 3px;
    }

    .select {
        width: 100px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .select-mg {
        margin-right: auto;
    }

    .btn-form {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 30px;
        margin-top: 28px;

        .btn-cancel {
            font-size: 14px;
            width: 70px;
            height: 32px;
            color: #fff;
            background: rgba(0, 0, 0, 0.35);
            border-radius: 3px;
            border: none;
        }

        .btn-send {
            font-size: 14px;
            width: 70px;
            height: 32px;
            color: #fff;
            background: #F56C23;
            border-radius: 3px;
            border: none;
            margin-left: 11px;
        }
    }
}