// font-size
$font-xxs:14px;
$font-xs:16px;
$font-s:18px;
$font-m:20px;
$font-l:24px;
$font-xl:32px;
$font-2xl:36px;
$font-3xl:48px;

// font-color
$color-primary:#3D1101;
$color-minor:#FFF;

// font-family
$font-family-primary:Microsoft JhengHei;

// background-color
$bg-color-primary:#efe9e7;
$bg-color-minor:#f6f4f4;
$bg-color-chef:#3D1101;
$bg-color-alpha:rgba(0, 0, 0, 0.35);
