@import "reset";

.box {
    height: 100px;
    background-color: aquamarine;
}

.box-green {
    background-color: chartreuse;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.row {
    margin-left: -10px;
    margin-right: -10px;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.col-4 {
    float: left;
    // width: 300px;
    width: (100%/3);
    padding-left: 10px;
    padding-right: 10px;
}

.col-3 {
    float: left;
    // width: 300px;
    width: (100%/4);
    padding-left: 10px;
    padding-right: 10px;
}

.col-12 {
    float: left;
    clear: both;
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
}