.btn-primary {
    border-radius: 3px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.35);

    &:hover {
        background: rgba(0, 0, 0, 0.568);
    }
}

.btn-minor {
    border-radius: 3px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: #F56C23;

    &:hover {
        background: rgb(180, 80, 26);
    }
}