// tools
.pt-5{
    padding-top: 5px;
}

.pt-20{
    padding-top: 20px;
}

.mt-20{
    margin-top: 20px;
}

.ml-20{
    margin-left: 20px;
}

.pt-100{
    padding-top: 100px;
}

.ml-3{
    margin-left: 3px;
}

.px-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bg-gray{
    background-color: #ededed;
}

.size-xl{
    font-size: 56px;
    color: rgb(39, 38, 38);
}

