<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>重製密碼</h1>
    <form>
      <label for="password">新密碼：</label>
      <input type="password" id="password" class="password" />
      <button type="button" class="btn">送出</button>
    </form>

    <script>
      const btn = document.querySelector('.btn');
      const input = document.querySelector('.password');

      btn.addEventListener('click', async (e) => {
        e.preventDefault();

        if (!input.value) return;

        try {
          const token = window.location.pathname.split('/')[4];
          const data = await fetch(`/api/user/reset_password/${token}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              password: input.value,
            }),
          }).then((res) => res.json());

          console.log(data);
        } catch (error) {
          console.log(error);
        }
      });
    </script>
  </body>
</html>
