extend layout.pug


block navbar
    - let path = 'index.html'
    - const aa = 10
    include ./partials/navbar.pug

block content
    //- h1 #{.test.people.name}
        span 先生
        | 是帥哥
    ul.list
        a(href="#") link
    ul.list
        a(href="#") link
    ul.list
        a(href="#") link
    h2: a(href="#"): span 連結

    h2
        a(href="#")
            span 連結
    .container
        form(action="#")
            label(for="email") 請輸入 Email：
            input#email.form-control.input-sm(type="email")