@import "mixin";
@import "rwd";



.content h1{
    @include hide-text();
}

.content h2{
    @include color(#ff0000);
}

.content{
    width: 100%;
    @include pad(){
        width: 40%;
    }
    @include mobile(){
        width: 25%;
    }
}
