.btn{
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    margin: 20px 20px;
}

.btn-red{
    color: #fff;
    background-color: red;
    border: 1px solid red;
}

.btn-blue{
    color: #fff;
    background-color: blue;
    border: 1px solid blue;
}

.btn-black{
    color: #fff;
    background-color: black;
    border: 1px solid black;
}
