/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,blockquote {
    quotes: none;
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

html {
    line-height: 1;
}

*,*:before,*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* CSS Reset end */

.container{
    position: relative;
    overflow: hidden;
    max-width: 960px;
    margin: 0 auto;
}

.mobile-link,.mobile-close{
    background-color: brown;
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
}

.mobile-link{
    display: none;
}

@media(max-width:768px){
    .mobile-link{
        display: inline-block;
    }
}
.main{
    transition: all 0.3s;
}

.header{
    height: 50px;
    background-color:black; 
    margin-bottom: 1em;
}

.header .menu{
    float: right;
}

.open .header .menu{
    display: none;
}

.content{
    padding: 1em;
}

.content p{
    margin-bottom: 1em;
}

@media(max-width:767px){
    .header .menu{
        display: none;
    }
}

.header .menu li{
    float: left;
}

.header .menu li a{
    color: aliceblue;
    display: block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;  /*非常重要*/
}

.header .menu li a:hover{
    background-color: brown;
}
.aside{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 270px;
    height: 100%;
    background-color: black;
    overflow: hidden;
    transform: translateX(-270px);
    transition: all 0.3s;
}

.open .main{
    transform: translateX(270px);
}
.open .aside{
    transform: translateX(0px);
}
.aside .menu li{
    margin: 1em;
    background-color: black;
    color: aliceblue;
}
.aside .menu li a{
    color: aliceblue;
    display: block;
    text-decoration: none;
}

.aside .menu li a:hover{
    background-color: brown;
}

