/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
html {
    line-height: 1;
}
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}
/* CSS Reset end */



.wrap{
    max-width: 1000px;
    
    margin: 0 auto;
}

.message{
    position: relative;
    height: 30px;
    background-color: #f6f6f6;
}


.news{
    float: right;
    margin-right: 15px;
}

.news li{
    float: left;

}

.news li a{
    color: #4460a0;
    display: block;
    width: 90px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

.header{
    position: relative;
    height: 56px;
    box-shadow: 0px 3px 5px #dfdfdf;
    margin-bottom: 40px;
    

}

@media(max-width:767px){
    .header{
        height: auto;
    }
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    
}

.logo a{
    display: block;
    width: 170px;
    height: 36px;
    background: url(../img/logo.png);
    
}
@media(max-width:767px){
    .logo{
        position: relative;
        margin: 0 auto;
        width: 170px;
    }
    .logo a{
        display: block;
        width: 170px;
        height: 36px;
    }
}
.menu{
    float: right;
    margin-right: 10px;
}
.menu li{
    float: left;
    

}
.menu li a{
    text-align: center;
    color: #65debe;
    font-weight: bold;
    display: block;
    width: 85px;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
}
@media(max-width:767px){
    .menu{
        float: none;
        margin-bottom: 80px;
    }
    .menu li{
        float: none;
        display: inline-block;
        margin: 0;
        width: 49%;
        margin: 0 auto;

    }
    .menu li a{
        width: 100%;
        text-align: center;
    }
}
.thisbuttom{
    border-bottom: 3px solid #65debe;
}

.td1{
    float: left;
    width: 30.33333%;
    min-height: 330px;
    box-shadow: 0px 3px 5px #dfdfdf;
    margin-left: 1.5%;
    
}
.td2{
    float: left;
    width: 30.33333%;
    min-height: 330px;
    box-shadow: 0px 3px 5px #dfdfdf;
    margin-left: 3%;
}
.td3{
    float: left;
    width: 30.33333%;
    min-height: 330px;
    box-shadow: 0px 3px 5px #dfdfdf;
    margin-left: 3%;
}
@media(max-width:767px){
    .td1,.td2,.td3{
        float: none;
        margin: 0 auto;
        width: 90%;
    }
}
.td1 h1{
    display: block;
    width: 200px;
    height: 136px;
    margin: 20px auto 10px auto;
    background: url(../img/feature-html5.png);
}
.td2 h1{
    display: block;
    width: 221px;
    height: 136px;
    margin: 20px auto 10px auto;
    background: url(../img/feature-rwd.png);
}
.td3 h1{
    display: block;
    width: 200px;
    height: 136px;
    margin: 20px auto 10px auto;
    background: url(../img/feature-jquery.png);
}
.td1 h2{
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.td2 h2{
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.td3 h2{
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.td1 div{
    margin: 10px 6px 0px 10px;
    letter-spacing: 1.5px;
    display: block;
    font-size: 15px;
    line-height: 22px;
    font-family: '微軟正黑體';
    
}
.td2 div{
    margin: 10px 6px 0px 10px;
    letter-spacing: 1.5px;
    display: block;
    font-size: 15px;
    line-height: 22px;
    font-family: '微軟正黑體';
    
}
.td3 div ul{
    margin: 10px 6px 0px 40px;
    letter-spacing: 1.5px;
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-family: '微軟正黑體';
    list-style: disc;
    
}
#nocss{
    list-style: none;
    margin-left: -20px;
}
@media(max-width:767px){
    .td1 div,.td2 div,.td3 div ul{
        width: 80%;
        margin: 10px auto 0px auto;
    }
}
















