/* 
狀態對應表
'良好',
'status-aqi2' '普通',
'status-aqi3' '對敏感族群不健康',
'status-aqi4' '對所有族群不健康',
'status-aqi5' '非常不健康',
'status-aqi6' '危害'
*/

.status-aqi2 {
    background-color: #ffff00;
}

.status-aqi3 {
    background-color: #ff7e00;
}

.status-aqi4 {
    background-color: #ff0000;
}

.status-aqi5 {
    background-color: #8f3f97;
}

.status-aqi6 {
    background-color: #7e0023;
}