.al-center{
    justify-content: center;
    align-items: flex-end
}

.changeBg1{
    background: url(../img/feature_2.png) !important;
}
.changeBg2{
    background: url(../img/feature_3.png) !important;
}

.changeBg3{
    background: url(../img/avatar_2.png) !important;
}
.changeBg4{
    background: url(../img/avatar_3.png) !important;
}