// test-size
$font-s:16px;
$font-m:20px;
$font-l:24px;

// text-color
$color-primary:#3D1101;
$color-minor:#fff;

// text-family
$text-normal:Microsoft JhengHei;

// background-color
$bg-color-primary:#efe9e7;
$bg-color-minor:#f6f4f4;
$bg-color-chef:#3D1101;