<!DOCTYPE html>
<html>
  <head>
    <title>嘿嘿</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= userName %> <% email %></h1>
    <form action="/" method="post">
      <input type="text" name="username" id="" />
      <input type="email" name="email" id="" />
      <input type="submit" name="送出" id="" />
    </form>
  </body>
</html>
