<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Roya">
    <meta name="copyright" CONTENT="本網頁著作權為Roya所有">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">

    <!-- Open Graph Protocol start-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="http://lanyiru.nctu.me" />
    <meta property="og:site_name" content="" />
    <!-- Open Graph Protocol end-->

    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/all.css">
</head>

<body>
    <div id="app">
        <table class="table">
            <thead>
                <tr>
                    <th>品名</th>
                    <th class="click" @click="isReverse = !isReverse , sortMode = 'price'">價格
                        <!-- isReverse 為反轉 className -->
                        <span class="icon" :class="{'inverse':isReverse}" v-if="sortMode == 'price'">
                            <i class=" fas fa-angle-up text-success"></i>
                        </span>
                    </th>
                    <th class="click" @click="isReverse = !isReverse , sortMode = 'expiryDate'">到期日
                        <span class="icon" :class="{'inverse':isReverse}" v-if="sortMode == 'expiryDate'">
                            <i class=" fas fa-angle-up text-success"></i>
                        </span>
                    </th>
                </tr>
                <tr v-for="item in filterData">
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.expiryDate }}</td>
                </tr>
            </thead>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/all.js"></script>
</body>

</html>