<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Roya">
    <meta name="copyright" CONTENT="本網頁著作權為Roya所有">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">

    <!-- Open Graph Protocol start-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="http://lanyiru.nctu.me" />
    <meta property="og:site_name" content="" />
    <!-- Open Graph Protocol end-->


    <link rel="shortcut icon" href="img/favicon-20190808083710876.ico" type="image/x-icon">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="css/all.css">
</head>

<body>
    <div class="col-md-9 post">
        <!-- 練習開始 -->
        <h1 class="mt-0 text-muted">作業練習：元件變換</h1>

        <h3>模板練習作業：Ajax 資料內容呈現</h3>
        <p>本作業一定要用到元件。</p>
        <div class="alert alert-secondary">
            <p>提示：</p>
            <ol class="mb-0">
                <li>將資料內容透過 "元件" 呈現</li>
                <li>製作城市過濾選項</li>
                <li>將內層資料透過 emit 傳遞到外層 (作為另一個關注城市的呈現)</li>
                <li>依據不同污染呈現不同色彩</li>
                <li>加分題：透過 localStorage 儲存上次關注的城市</li>
            </ol>
        </div>
        <!-- Vue.js Application -->
        <div id="app">
            <select name="" id="" class="form-control mb-3" v-model="filter">
                <!-- 使用 disabled 須注意 value是否有創建 -->
                <option value="" disabled>--- 請選擇城市 ---</option>
                <option value="all">全部城市</option>
                <option :value="item" v-for="item in location">{{item}}</option>
            </select>
            <div>
                <h4>關注城市</h4>
                <div class="card-columns">
                    <card-component v-for="(item, index) in trackData" :key="index" :carditem="item" :status="true"
                        @trackevent="removeTrack(index)">
                    </card-component>
                </div>
            </div>
            <hr>
            <div class="card-columns">
                <!-- 直接以 v-if 判斷 filter 城市 -->
                <card-component v-for="(item, index) in filterData"
                    v-if="item.County == filter || filter == '' || filter == 'all' " :key="index" :carditem="item"
                    :status="false" @trackevent="addTrack">
                </card-component>
            </div>
        </div>
    </div>
    <script id="cardData" type="text/x-template">
        <div class="card" :class="cardColor">
            <div class="card-header">{{carditem.County}} - {{carditem.SiteName}}
                <a href="#" class="float-right" @click.prevent="callTrack"><i class="fas fa-star" v-if="status"></i><i class="far fa-star" v-else="status"></i></a>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>AQI 指數: {{carditem.AQI}}</li>
                    <li>PM2.5: {{carditem["PM2.5"]}}</li>
                    <li>說明: {{carditem.Status}}</li>
                </ul>
                {{carditem.PublishTime}}
            </div>
        </div>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/all.js"></script>
</body>

</html>