.header {
    background-size: cover;
    background-position: center center;
    background-image: url(../asset/img/header_desktop.png);
    background-repeat: no-repeat;

    .banner {
        min-height: 420px;
    }

    .menu-bg {
        min-height: 58px;
        background: #ff0000;
        position: relative;
    }

    .menu {
        top: 0;

        ul {
            a {
                display: block;
            }
        }

        li {
            color: #fff;

            a {
                &:hover {
                    font-weight: bolder;
                }
            }
        }
    }


    .banner-title {
        max-width: 460px;
        background: #ff0000;
        color: #fff;
    }

    .main-menu {
        background: #ff0000;
        overflow: hidden;

        a {
            &:hover {
                background: #ff0000;
            }
        }

    }

    .hamburger-menu {
        display: block;
        float: right;
    }

    .menu-show {
        max-height: 165px;
    }

    .block-md {
        display: block;
    }

}