@import "config/reset";
@import "helpers/variable";
@import "helpers/rwd";
@import "layout/grid";
@import "layout/header";

.mg-1 {
    justify-content: center;
    align-items: flex-end;
}

.pd-1 {
    padding-top: 50px;
}


.p-feature {
    position: relative;
    background-color: $color-base;

    .title {
        width: 225px;
        height: 70px;
        position: relative;
        top: 10px;

        h2 {
            font-size: 20px;
            color: #3D1101;
            line-height: 32px;
            font-weight: 500;
        }

        span {
            display: block;
            position: relative;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0%;
                background-color: #979797;
                width: 50%;
                height: 1px;
            }

            &:before {
                left: -50%;
            }

            &:after {
                right: -50%;
            }
        }
    }


    h1 {
        display: block;
        width: 200px;
        height: 200px;
        background: url(../img/feature_1.png);
        border-radius: 100px;
        margin: 31px auto 20px auto;
    }

    h2 {
        font-size: 18px;
        color: #3D1101;
        font-weight: 500;
        text-align: center;
    }

    p {
        color: #3D1101;
        font-weight: 500;
        line-height: 20px;
        display: block;
        font-size: 16px;
        text-align: left;
        max-width: 260px;
        margin: 11px auto auto auto;
        padding-bottom: 50px;
    }
}